-# coding: utf-8
!!!
%html
  %head
    %title Komicless MediaServer
    %meta{ "http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}
  %body
    %ul
      - files.each do | (url, basename, size, type, mtime) |
        %li
          - if type == "directory"
            %a{ booktitle: basename, href: url }= basename
          - else
            %a{ href: url, booktitle: basename, booksize: size, bookfile: "true" }= basename
